<footer>
  <div class="bg-light text-dark py-4">
    <div class="container d-flex justify-content-between flex-column-reverse flex-sm-row flex-sm-wrap">
      <div>
        <%= content_tag :h3, t('.discover'), class: 'fw-bold text-uppercase' %>
        <ul class="list-unstyled">
          <li><%= link_to I18n.t(:home, scope: %i[layouts application]), '#', class: 'text-decoration-none' %></li>
          <li><%= link_to t('.who_we_are'), '#',  class: 'text-decoration-none' %></li>
          <li><%= link_to I18n.t(:discover_offer, scope: %i[layouts application]), '#', class: 'text-decoration-none'  %></li>
          <li><%= link_to I18n.t(:credit_application_form, scope: %i[layouts application]), '#', class: 'text-decoration-none' %></li>
        </ul>
      </div>

      <div>
        <%= content_tag :h3, t('.about_us'), class: 'fw-bold text-uppercase' %>
        <ul class="list-unstyled">
          <li><%= link_to t('.terms_and_conditions_of_use'), '#', class: 'text-decoration-none' %></li>
          <li><%= link_to t('.frequently_asked_questions'), '#', class: 'text-decoration-none' %></li>
          <li><%= link_to t('.legal_notice'), '#', class: 'text-decoration-none' %></li>
        </ul>
      </div>

      <div>
        <%= content_tag :h3, t('.social_networks'), class: 'fw-bold text-uppercase' %>
        <ul class="list-unstyled">
          <li><%= link_to t('.facebook'), '#', class: 'text-decoration-none' %></li>
          <li><%= link_to t('.twitter'), '#', class: 'text-decoration-none' %></li>
          <li><%= link_to t('.youtube'), '#', class: 'text-decoration-none' %></li>
        </ul>
      </div>

      <div class="d-lg-flex align-items-center">
        <%= image_tag "logo_capsens", alt: t('logo_alt'), class: "mx-3", width: 150 %>
        <div>
          <%= content_tag :p, t('brand') %>
          <%= content_tag :p, [t('address_brand'), tag(:br), t('zipcode_brand'), t('brand_city')].join("\n").html_safe %>
        </div>
      </div>
    </div>
  </div>
</footer>