<!DOCTYPE html>
<html>
  <head>
    <title>TrainingFront</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= render 'layouts/application/header' %>
    <%= yield %>
    <%= render 'layouts/application/footer' %>
    <script src="https://unpkg.com/scrollreveal"></script>
    <%= javascript_include_tag 'application' %>
  </body>
</html>